# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
# It's usually better to keep the schema but ignore local sqlite or migrations if needed
# prisma/migrations/
# prisma/dev.db

# OS files
.DS_Store
